:root {
  --main-ligth-color: #f0fcf5;
}

.light-back{

    background:var(--main-ligth-color);
}

.hand{

    cursor:pointer;
    
}

.custom-item{

    width:50px!important;
    height:50px!important;
    border-radius:35px;
    background:red!important;

}

.simple-item {

  width: 50px!important;
  height: 50px;
  border-radius: 35px;
  background: green !important;

}

