<div class="container">
  <h1 class="text-center">Main Page</h1>
  <h3 class="mb-5">
    Это приложение позволяет вести учет созданным кабелям. Оно будет полезно тем, кто на своей работе часто паяет кабели.
    Или музыкантам с собственным техническим стаффом.

  </h3>
  <h4 class="text-center mb-5 text-info">Чтобы перейти к созданию кабеля -  нажмите Wires Manager</h4>
  <h4 class="text-center mb-5 text-info">Чтобы перейти к созданию катушки -  нажмите Coils Manager</h4>
  <div class="row mb-5 ">
    <div class="col-6">
      <h4>Что реализовано</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
          <p>Возможность сохранения аудио кабеля с выбором названия, длины и разъемов</p>
        </li>
        <li class="list-group-item list-group-item-primary">
          <p>Валидация данных</p>
        </li>
        <li class="list-group-item list-group-item-primary">
          <p>Показ списка уже созданных кабелей</p>
        </li>
        <li class="list-group-item list-group-item-primary">
          <p>Возможность редактировать, и удалять уже сохранненные кабели</p>
        </li>
        <li class="list-group-item list-group-item-primary">
          <p>Возможность сохранения кабельных катушек с выбором названия, длины и типа и количества ижл в кабеле</p>
        </li>
        <li class="list-group-item list-group-item-primary">
          <p>Возможность редактировать, и удалять уже сохранненные катушки</p>
        </li>
        <li class="list-group-item list-group-item-primary">
          <p>Взамосвязь провода и катушки</p>
        </li>
        
      </ul>
    </div>
    <div class="col-6">
      <h4>Что будет реализовано</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">
          <p>Возможность сохранения различных типов кабелей, а не только аудио</p>
        </li>
        <li class="list-group-item list-group-item-warning">
          <p>Аутентификафикация для возможности использования различными пользователями</p>

        </li>
        <li class="list-group-item list-group-item-warning">
          <p>Возможность выбора производителя кабеля</p>

        </li>
        <li class="list-group-item list-group-item-warning">
          <p>Видимость количества оставшиъся разъемов, которое также можно будет редактировать</p>

        </li>
        <li class="list-group-item list-group-item-warning">
          <p>Возможность добавлять какие-то комментарии и пояснения к созданным кабелям</p>

        </li>
        <li class="list-group-item list-group-item-warning">
          <p>Возможность различной сортировки и группировки кабелей и катушек</p>

        </li>
      </ul>
    </div>
  </div>


  <div class="card bg-info mb-3 col-md-8 col-12 offset-md-2 col-lg-6 offset-lg-3 text-center">
    <div class="card-header">Feedback</div>
    <div class="card-body">
      <h5 class="card-title">Для вопросов и предложений</h5>
      <p class="card-text fs-1">zuuubada@inbox.ru</p>
    </div>
  </div>

</div>
