<div class="container">
  <h1>Orders Manager</h1>
  <div>
    <table class="table table-info table-striped table-hover text-center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date of create</th>
          <th>Client</th>
          <th>Client's email</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ord of orders;let i=index"
            (click)="startEdit(ord)"
            data-bs-toggle="modal"
            data-bs-target="#ordersBuys"
            name="orderClick"
            #orderClick>

          <td>{{ord.name}}</td>
          <td>{{ord.created}}</td>
          <td>{{ord.client.name}}</td>
          <td>{{ord.client.email}}</td>
          <td><p [textContent]="statusToString(ord.status)"></p></td>
          <td>
            <button class="btn btn-danger" (click)="deleteOrder($event,ord._id)">Delete</button>
          </td>

        </tr>

      </tbody>
    </table>

    <div class="modal"
         id="ordersBuys"
         aria-labelledby="modalLabel"
         aria-hidden="true"
         tabindex="-1">

      <div id="modal"
           class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down">

        <div class="modal-content"  >
          <div class="modal-header">
            <h5>{{editorder.client.name}}-{{editorder.client.email}}</h5>
            <h5 class="ps-3" [textContent]="statusToString(editorder.status)"></h5>
            <button id="closeModal"
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="close"
                    (click)="cancelEdit()"
                    class="btn-close"
                    name="closeBut"
                    #closeBut></button>
          </div>
          <div class="modal-body">

            <table class="table table-secondary table-striped text-center table-sm align-middle">
              <thead class="table-dark">
                <tr>
                  <th>Buy's name</th>
                  <th>Item</th>
                  <th>Cost</th>
                  <th>Count</th>
                  <th>Available count</th>
                  <th>Accept buy</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listofbuys; let i=index">
                  <td>{{item.name}}</td>
                  <td>{{item.item}}</td>
                  <td>{{item.cost}}</td>
                  <td>{{item.count}}</td>
                  <td>{{templistofcounts[i]}}</td>
                  <td><input type="checkbox" (click)="checkUncheck($event,i)" [disabled]="(templistofcounts[i]-item.count)<0"/></td>
                </tr>
              </tbody>
            </table>
            <div>
              <label for="statusSelect">Order status</label>
              <select id="statusSelect" class="form-select mb-3" [(ngModel)]=tempstatus>
                <option value="">Select status...</option>
                <option *ngFor="let status of stats">{{status}}</option>
              </select>
            </div>
            <div>
              <textarea class="form-control"
                        placeholder="Comment for client (if the order canceled, for example)"
                        [(ngModel)]="comment"
                        name="comment">

              </textarea>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row">

              <button class="btn btn-secondary mb-3"
                      data-bs-dismiss="modal"
                      (click)="cancelEdit()"
                      #cancelBut>Close</button>

              <button class="btn btn-success"
                      
                      name="editBut"
                      #editBut>Edit</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


