<div class="container text-center">
  <h1 class="text-center">Buys Manager</h1>
  <div class="container mb-3">
    <form enctype="multipart/form-data" >

      <div class="row">

        <div class="col-12 col-md-6">
          <label for="buyname" class="text-primary">Name of buy</label>
          <input id="buyname"
                 type="text"
                 class="form-control"
                 placeholder="Buy's name"
                 [(ngModel)]="newbuy.name"
                 name="ngNewBuyName" />
        </div>

        <div class="col-12 col-md-6">
          <label for="selectItem" class="text-primary">Select wire</label>
          <select class="form-select"
                  [(ngModel)]="selectedwire"
                  name="ngNewBuyItem"
                  id="selectItem">
            <option [ngValue]="wire" *ngFor="let wire of wires">{{wire.name}}</option>
          </select>
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <label class="text-primary" for="buyCount">Buy's count</label>
          <input id="buyCount"
                 placeholder="0"
                 class="form-control"
                 type="number"
                 [(ngModel)]="newbuy.count"
                 (ngModelChange)="changeCount(true)"
                 name="ngNewBuyCount" />



        </div>

        <div class="col-1 pt-4">

          <div class="form-check">
            <input type="checkbox" id="newbuycustom" name="custombuy" class="form-check-input" [(ngModel)]="newbuy.custom" />
            <label class="text-primary form-check-label" for="newbuycustom">isCustom</label>
          </div>

        </div>

      </div>

      <div class="row mt-2 mb-2">

        <div class="col-12 col-md-6">

          <h4>First connector:</h4>
          <div *ngFor="let firstconnector of selectedwire.firstconn; let i=index">{{i+1}}.{{firstconnector.name}},{{firstconnector.type}}:{{firstconprice[i]?.cost|currency}}$</div>

          <h4 class="mt-3">Second connector:</h4>
          <div *ngFor="let secondconnector of selectedwire.secondconn; let i = index">{{i+1}}.{{secondconnector.name}},{{secondconnector.type}}:{{secondconprice[i]?.cost|currency}}$</div>

        </div>

        <div class="col-12 col-md-6">

          <h4>Available  connectors:</h4>
          <div *ngFor="let con of sameconnectors; let i = index">{{con.name}}-{{con.type}}:{{con.count}}</div>

        </div>
      </div>

      <div class="row">

        <h5>Coil:</h5>
        <div class="mb-2">{{selectedcoil.name}},{{selectedcoil.type}}:{{coilprice?.cost|currency}}$</div>
        <h5>Wire's length:{{selectedwire.length}}m</h5>
        <h5 class="mb-2">Cost:{{newbuy.cost|currency}}</h5>

        <h5>Available length:</h5>
        <div class="mb-2">{{tempcoillength}}m</div>

      </div>

      <div class="container mb-3">

        <textarea placeholder="Buy description"
                  class="form-control"
                  [(ngModel)]="newbuy.description"
                  rows="5"
                  name="ngNewBuyDescriprion"></textarea>

      </div>

      <div class="mb-3">

        <label for="loadimage">Upload image for buy</label>
        <input type="file"
               class="form-control"
               id="loadimage"
               name="imagedata"
               #imagedata />
        <img class="img-thumbnail rouded mx-auto d-block" #img />

        <div [textContent]="(upload|async)">
        </div>
      </div>

      <div class="row">

        <div class="col-5">

          <button class="btn btn-secondary"
                  (click)="resetClick()"
                  name="resetbut"
                  #resetbut>Reset</button>

        </div>

        <div class="col-5">

          <button class="btn btn-primary"
                  name="submitbut"
                  #submitbut>Make buy</button>

        </div>
      </div>

    </form>
  </div>

  <div class="container">

    <div class="table-responsive">

      <table class="table table-hover table-striped table-dark">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <!-- <th>Decription</th>-->
            <th>Item</th>
            <th>Cost,$</th>
            <th>Count</th>
            <th>Is custom?</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="editBuy(buy)"
              *ngFor="let buy of buys; let i = index"
              data-bs-toggle="modal"
              data-bs-target="#buysModal">
            <td>{{i+1}}</td>
            <td>{{buy.name}}</td>
            <!--<td>{{buy.description}}</td>-->
            <td>{{buy.item}}</td>
            <td>{{buy.cost|currency}}</td>
            <td>{{buy.count}}</td>
            <td><div [style]="checkCustom(buy.custom)"></div></td>
            <td><button class="btn btn-danger" (click)="deleteBuy(buy,$event)" #deleteBut>Delete</button></td>

          </tr>
        </tbody>
      </table>

    </div>

    <div
         class="modal fade"
         id="buysModal"
         data-bs-backdrop="static"
         data-bs-keybord="false"
         aria-hidden="true"
         aria-labelledby="modalLabel"
         tabindex="-1">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">{{editbuy.name}}</h5>
            <button
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    class="btn-close"
                    #closeEditBut
                    name="closeEditBut"
                    (click)="cancelEdit()"></button>
          </div>
          <div class="modal-body">
            <form>

              <div class="row">
                <div class="col-6">
                  <img class="img-thumbnail" name="editImage" #editImage />
                  <input type="file" class="form-control rouded" #editImageInput name="editImage" />
                  <div class="row">

                    <div>Available connectors</div>
                    <div *ngFor="let con of sameconnectors;let i = index">{{con.name}}-{{con.type}}:{{con.count}}</div>

                  </div>

                </div>
                <div class="col-6">

                  <div class="row">

                    <label for="editName">Change buy's name</label>
                    <input id="editName"
                           type="text"
                           class="form-control"
                           placeholder="Change name"
                           [(ngModel)]="editbuy.name"
                           name="ngEditBuyName" />
                  </div>

                  <div class="row">
                    <label for="editCount">Change buy's count</label>
                    <input id="editCount"
                           type="number"
                           class="form-control"
                           placeholder="Change count"
                           [(ngModel)]="editbuy.count"
                           (ngModelChange)="changeCount(false)"
                           name="ngEditBuyCount" />
                    <p>Buy's price:{{editbuy.cost}}$</p>
                  </div>

                  <div class="form-check">
                    <input type="checkbox" id="editbuycustom" name="customeditbuy" class="form-check-input" [(ngModel)]="editbuy.custom" />
                    <label class="text-primary form-check-label">isCustom</label>
                  </div>

                </div>

              </div>
              <div class="container">

                <div class="row">

                  <div class="col-12 col-md-6">
                    <div>First connectors:</div>
                    <div *ngFor="let con of selectedwire.firstconn; let i = index">{{i+1}}.{{con.name}}-{{con.type}}</div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div>Second connectors:</div>
                    <div *ngFor="let con of selectedwire.secondconn; let i = index">{{i+1}}.{{con.name}}-{{con.type}}</div>
                  </div>

                </div>


                <div class="row">

                  <div class="col-6">Available length:</div>
                  <div class="col-6">{{tempcoillength}},m</div>

                </div>


              </div>
              <div class="container">
                <textarea placeholder="Change description"
                          class="form-control"
                          rows="5"
                          [(ngModel)]="editbuy.description"
                          name="ngEditBuyDescription"></textarea>

              </div>

            </form>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-5">
                <button class="btn btn-secondary btn-secondary"
                        data-bs-dismiss="modal"
                        (click)="cancelEdit()"
                        #cancelBut>Cancel</button>
              </div>
              <div class="col-5">
                <button class="btn btn-success" #editBuyBt>Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

</div>
