<div class="container">
  <h1 class="text-center">Prices Manager</h1>
  <form>
    <div class="row mb-2">

      <div class="col-5">
        <label for="PriceName" class="text-primary">Name</label>
        <input id="PriceName" type="text" class="form-control" [(ngModel)]="newPrice.name" name="priceName" />
      </div>

      <div class="col-5">
        <label for="PriceCost" class="text-primary">Cost</label>
        <input id="PriceCost" type="number" class="form-control" [(ngModel)]="newPrice.cost" name="priceCost" />
      </div>
    </div>

    <div class="col-10 mb-3">
      <label class="text-primary" for="ItemOfPrice">Item</label>
      <select id="ItemOfPrice" class="form-select" [(ngModel)]="selectitem" (ngModelChange)="setItem()"  name="priceItem">
        <option value=""></option>
        <option *ngFor="let item of listOfItems">{{item.name}}-{{item.type}}</option>
      </select>

    </div>

    <div class="row">
      <div class="col-4">
        <button (click)="postPrice()" [disabled]="!edit" class="btn btn-primary">Make Price</button>
      </div>
      <div class="col-4">
        <button class="btn btn-warning">Reset</button>
      </div>
      <div class="col-4">
        <button (click)="putPrice()" [disabled]="edit" class="btn btn-success">Edit Price</button>
      </div>
    </div>
  </form>

  <div class="table-responsive">

    <table class="mt-3 table table-striped table-danger table-hover text-center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cost,$</th>
          <th>Item</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let price of prices;let i=index">
          <td>{{price.name}}</td>
          <td>{{price.cost|currency}}</td>
          <td>{{price.itemofprice.name}}-{{price.itemofprice.type}}</td>
          <td><button class="btn btn-danger" (click)="deletePrice(price._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>


